<div class="window-controls">
    <a data-action="reset-triggers" {{{@root.i18n.tooltip 'reset' }}}>
        <i class="fa-solid fa-rotate-left"></i>
    </a>
    <a data-action="save-triggers" {{{@root.i18n.tooltip 'save' }}}>
        <i class="fa-solid fa-floppy-disk"></i>
    </a>
    <a data-action="collapse-window" {{{@root.i18n.tooltip 'collapse' }}}>
        <i class="fa-solid fa-compress"></i>
    </a>
</div>