#pf2e-trigger-blueprint-menu {
    --trigger-sidebar-width: 300px;
    --width: calc(100% - ((var(--sidebar-width) + 16px + 48px) * var(--ui-scale)));
    --height: calc(100% - 10px);

    height: var(--height);
    max-height: var(--height);
    width: var(--width);
    max-width: var(--width);
    margin: 0;

    background: url("../../../ui/denim075.png") repeat;
    background-color: #808080;
    border: 1px solid var(--color-border-dark-1);
    border-left: 0;
    border-radius: 0 5px 5px 0;

    position: absolute;
    top: 5px;

    @import "./sidebar";
    @import "./title";
    @import "./controls";
    @import "./collapsed";

    &.debug {
        max-width: none;
        width: 100%;
    }

    &.collapsed {
        max-width: fit-content;
        max-height: fit-content;

        > *:not(.window-collapsed) {
            display: none;
        }
    }

    &:not(.collapsed) {
        .window-collapsed {
            display: none;
        }
    }

    > [data-trigger-description] {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: calc(100% - var(--trigger-sidebar-width));
        background: url(/ui/denim075.png) repeat;
        background-color: black;
        font-size: 1.1em;
        padding: 1em;

        a {
            color: var(--text-dark);
        }

        &:empty {
            display: none;
        }
    }
}
