.window-controls {
    position: absolute;
    top: 0;
    right: 0;
    background: #0000002e;
    border-bottom-left-radius: 5px;
    display: flex;
    gap: 0.6em;
    padding: 0.3em 0.5em;
    font-size: 1.2em;
}
