.sidebar {
    --background-accent: #0000003b;
    --sidebar-width: 300px;
    --indicator-width: 18px;
    --active-color: #086c819c;
    --inner-width: calc(var(--sidebar-width) - var(--indicator-width));

    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    width: var(--sidebar-width);
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--color-border-dark-1);
    background: url(/ui/denim075.png) repeat;
    background-color: #00000030;
    transition: all 0.1s;
    color: var(--text-light);
    transform: translateX(calc(100% * -1));
    display: flex;
    flex-direction: column;

    .menu {
        flex: 1;
        padding-bottom: 0.5em;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .header {
            font-size: 1.2em;
            background: var(--background-accent);
            position: relative;
            padding-block: 0.5em;

            .title {
                text-align: center;
            }

            .controls {
                position: absolute;
                display: flex;
                gap: 0.5em;
                top: 50%;
                transform: translateY(-50%);

                &.left {
                    left: 0.5em;
                }

                &.right {
                    right: 0.6em;

                    .fa-file-import {
                        margin-right: 0.2em;
                    }
                }

                a[disabled] {
                    color: var(--color-disabled);
                }
            }
        }

        .scroll {
            overflow: auto;
            flex: 1;

            &.scroll-triggers {
                flex-basis: 30%;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                white-space: nowrap;
                display: flex;
                align-items: center;
                padding-right: 0.7em;

                .enabled {
                    height: 16px;
                    width: 16px;
                }

                .name {
                    flex: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-block: 0.6em;
                    padding-inline: 0.2em 1em;
                }

                .controls {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.6em;
                }

                &.trigger {
                    cursor: pointer;

                    .name {
                        &:hover {
                            text-shadow: 0 0 8px var(--color-shadow-primary);
                        }
                    }
                }

                &:hover {
                    background: #ffffff0d;
                }

                &.active {
                    background: var(--active-color);
                }

                &.variable {
                    .name {
                        i {
                            margin-right: 0.2em;
                            color: var(--entry-color);
                        }
                    }
                }
            }

            .sub {
                li {
                    padding-left: 0.5em;
                }
            }
        }
    }

    .indicator {
        position: absolute;
        top: 0;
        bottom: 0;
        right: calc(var(--indicator-width) * -1);
        width: var(--indicator-width);
        background-color: var(--background-accent);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.1s;
        cursor: pointer;
    }

    &.show {
        transform: translateX(0);

        .indicator .expand {
            display: none;
        }
    }

    &:not(.show) {
        .indicator .collapse {
            display: none;
        }
    }
}
