{{#each groups as |group|}}
{{#if group.title}}
<div class="{{ifThen group.isSub 'sub-title' 'title'}}">
    {{group.title}}
</div>
{{/if}}
<ul class="list">
    {{#each group.entries as |entry|}}
    <li {{{entry.dataset}}}>
        {{entry.label}}
    </li>
    {{/each}}
</ul>
{{/each}}