<form>
    <div class="hint">{{@root.i18n 'hint' objects=(@root.i18n (concat key '.objects'))}}</div>
    <textarea name="data"></textarea>
    <div class="buttons">
        <button type="button" data-action="import">
            <i class="fa-solid fa-download"></i>
            {{@root.i18n 'import'}}
        </button>
        <button type="button" data-action="cancel">
            <i class="fa-solid fa-xmark"></i>
            {{@root.i18n 'cancel'}}
        </button>
    </div>
</form>