.pf2e-trigger-blueprint-menu {
    z-index: 2147483647;
    position: absolute;
    color: #efe6d8;
    box-shadow: 0 0 10px var(--color-shadow-dark);
    border: 1px solid var(--color-border-dark);
    border-radius: 4px;
    background: url("../../../ui/denim075.png") repeat #4d4d4d;
    display: flex;
    flex-direction: column;

    &:focus,
    &:focus-visible {
        outline: 0;
    }

    .title {
        text-align: center;
        background: rgb(0 0 0 / 33%);
        padding-block: 0.2em;
        font-size: 1.1em;

        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0.3em 0.5em;
            cursor: pointer;

            &:hover {
                background: #ffffff0d;
                text-shadow: 0 0 8px var(--color-shadow-primary);
            }
        }
    }

    &.nodes-menu {
        min-width: 150px;
        min-height: 150px;
        transform: translateY(-10px);
    }

    &.input-select {
        transform: translateX(-0.5px);
        border-radius: 0;
    }
}
