.pf2e-trigger-blueprint-menu {
    z-index: 2147483647;
    position: absolute;
    color: #efe6d8;
    box-shadow: 0 0 10px var(--color-shadow-dark);
    border: 1px solid var(--color-border-dark);
    border-radius: 4px;
    background: url("../../../ui/denim075.png") repeat #4d4d4d;
    display: flex;
    flex-direction: column;

    &:focus,
    &:focus-visible {
        outline: 0;
    }

    .title,
    .sub-title {
        text-align: center;
        font-size: 1.1em;
        border-top: 1px solid var(--title-border-color);
        border-bottom: 1px solid var(--title-border-color);
    }

    .title {
        --title-border-color: rgba(0, 0, 0, 0.514);

        padding-block: 0.2em;
        background: rgb(0 0 0 / 33%);

        &:first-child {
            border-top: 0;
        }

        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    .sub-title {
        --title-border-color: rgba(255, 255, 255, 0.082);

        padding-block: 0.1em;
        background: rgb(0 0 0 / 20%);
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0.3em 0.5em;
            cursor: pointer;

            &:hover {
                background: #ffffff0d;
                text-shadow: 0 0 8px var(--color-shadow-primary);
            }
        }
    }

    &.nodes-menu {
        min-width: 150px;
        min-height: 150px;
        overflow: hidden auto;
    }

    &.input-select {
        transform: translateX(-0.5px);
        border-radius: 0;
        overflow: hidden auto;
    }
}
