#pf2e-trigger-customs .window-content {
    --highlight-color: #ffb500b3;
    --accent-color: #00000024;

    padding-inline: 0;
    overflow: hidden;

    > * {
        padding-inline: 1em;
    }

    > .header {
        flex: 0;
        display: flex;
        align-items: center;
        gap: 0.5em;

        select {
            min-width: 15em;
        }

        .separator {
            flex: 1;
        }

        button {
            width: max-content;
            padding-block: 0;
            height: calc(var(--form-field-height) + 2px);
            line-height: 1;
        }
    }

    hr {
        flex: 0;
        width: calc(100% - 1em);
    }

    .triggers {
        overflow: hidden auto;

        .scrollable {
            display: flex;
            gap: 1em;
            padding-inline: 0.2em;

            > * {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 0.5em;
            }
        }

        .trigger {
            display: flex;
            flex-direction: column;
            gap: 0.3em;
            border: 0.3em solid var(--accent-color);
            border-radius: 3px;
            padding-bottom: 0.3em;

            > * {
                padding-inline: 0.6em;
            }

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title {
                    display: flex;
                    align-items: center;
                    gap: 0.3em;

                    i {
                        width: 1.3em;
                        text-align: center;
                    }

                    span {
                        font-weight: bold;
                        white-space: nowrap;
                    }
                }

                .controls {
                    display: flex;
                    gap: 0.6em;
                    text-align: center;
                }
            }

            .big-header {
                height: 2.72em;
                background: var(--accent-color);

                .title {
                    span {
                        font-size: 1.1em;
                    }
                }
            }

            .trigger-header {
                height: 2.42em;
                padding-bottom: 0.3em;
            }

            .toggle {
                width: 1.3em;

                .hide {
                    opacity: 0.75;
                }
            }

            .actions-header {
                .title {
                    flex: 1;
                }

                a {
                    margin-left: 0.5em;

                    i {
                        font-size: 1.2em;
                    }
                }

                & + .action {
                    .link,
                    .unlink {
                        display: none;
                    }
                }
            }

            .group {
                display: flex;
                align-items: center;
                height: 1.87em;
                gap: 0.5em;

                > :first-child {
                    flex: 0 0 1.25em;
                    width: 1.25em;
                }

                &:not(.linked-option):hover {
                    background: #0000000d;
                }

                &.hidden {
                    display: none;
                }

                .used {
                    height: 1em;
                    width: 1em;
                    margin: 0;
                    padding: 0;
                }

                .input {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.5em;

                    > .name {
                        font-weight: bold;
                        white-space: nowrap;
                        flex: 0 0 30%;
                    }

                    input[type="text"],
                    select {
                        flex: 1;
                    }

                    input[type="number"] {
                        text-align: end;
                        width: 6ch;
                    }
                }

                &.uuid {
                    .input {
                        height: 100%;
                        overflow: hidden;

                        &:not(:has(.item[data-uuid=""])) input {
                            display: none;
                        }

                        .item {
                            flex: 1;
                            height: 100%;
                            align-items: center;
                            border: 1px solid var(--color-border-light-tertiary);
                            display: flex;
                            max-width: -moz-fit-content;
                            border-radius: 3px;
                            overflow: hidden;

                            &[data-uuid=""] {
                                display: none;
                            }

                            .item-link {
                                flex: 1;
                                height: 100%;
                                align-items: center;
                                border: none;
                                border-right: 1px solid var(--color-border-light-2);
                                display: flex;
                                overflow: hidden;

                                img {
                                    display: block;
                                    float: left;
                                    height: 100%;
                                    aspect-ratio: 1 / 1;
                                    border: 0;
                                    border-radius: 2px 0 0 2px;
                                    border-right: 1px solid var(--color-border-light-2);
                                }

                                .name {
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    padding-inline: 0.3em;
                                }
                            }

                            .reset {
                                height: 100%;
                                display: flex;
                                align-items: center;
                                padding-inline: 0.3em;
                            }
                        }
                    }
                }
            }

            .action {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 0.3em;

                .linked-option {
                    border-bottom: 1px dotted var(--accent-color);
                    height: revert;
                    padding-bottom: 0.3em;

                    &:not(.hidden) ~ .link-icon {
                        display: none;
                    }
                }

                .action-header {
                    height: 1.4em;
                }

                &.linked {
                    .link {
                        display: none;
                    }

                    .link-icon {
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(-50%, calc(-50% - 0.3em));
                        opacity: 0.75;
                    }
                }

                &:not(.linked) {
                    .unlink,
                    .link-icon {
                        display: none;
                    }
                }

                &:has(+ .action) {
                    border-bottom: 0.3em solid var(--accent-color);
                    padding-bottom: 0.3em;
                }

                &:has(+ .action.linked) {
                    border-bottom-width: 1px;
                    border-bottom-style: dotted;
                }
            }

            .empty {
                text-align: center;
                color: var(--text-light-disabled);
            }

            &.expanded .trigger-header,
            .action.expanded {
                .hide {
                    display: none;
                }
            }

            &:not(.expanded) .trigger-header,
            .action:not(.expanded) {
                .show {
                    display: none;
                }
            }

            &:not(.expanded) .condition,
            .action:not(.expanded) .option:not(.linked-option) {
                &:not(:has(.used:checked)) {
                    display: none;
                }
            }

            &.highlight {
                animation: pf2e-trigger-blink 0.3s linear 3;
            }

            @keyframes pf2e-trigger-blink {
                25% {
                    border-color: var(--highlight-color);
                    box-shadow: inset 0 0 20px var(--highlight-color);
                }

                50% {
                    border-color: var(--accent-color);
                    box-shadow: none;
                }

                75% {
                    border-color: var(--highlight-color);
                    box-shadow: inset 0 0 20px var(--highlight-color);
                }

                100% {
                    border-color: var(--accent-color);
                    box-shadow: none;
                }
            }
        }
    }
}
