#pf2e-trigger-export-menu {
    max-height: 80%;

    .lists {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 0.5em));
        white-space: nowrap;
        gap: 1em;
        overflow: hidden;

        .triggers,
        .subtriggers {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .title {
                position: relative;
                text-align: center;

                a {
                    position: absolute;
                    left: 0.15em;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-block: 0;
                }

                span {
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 1.1em;
                }
            }

            ul {
                overflow: auto;
                flex: 1;
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    input {
                        margin: 0;
                    }
                }
            }
        }

        .subtriggers {
            button {
                margin: auto;
            }
        }
    }
}
