input.trigger-input {
    position: absolute;
    z-index: 2147483647;
    border-color: "transparent";
    color: white;
    border-radius: 0;
}

code-mirror.trigger-input {
    position: absolute;

    position: absolute;
    z-index: 2147483647;
    width: 380px;
    height: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px black;
}
