@import "blueprint-menu/blueprint";
@import "context-menu";
@import "import-export-menu";
@import "orphan-input";

.application.dialog.pf2e-trigger {
    .window-content {
        .form-group {
            white-space: nowrap;

            .form-fields:has(input[type="number"]) {
                flex: 0;

                input {
                    width: 10ch;
                    text-align: end;
                }
            }
        }
    }

    &.pf2e-trigger-create-edit-menu {
        prose-mirror {
            min-height: 380px;

            .editor-container {
                box-shadow: inset 0 0 0px 1px var(--color-border);

                .editor-content {
                    padding: 0.2rem 0.5rem;
                }
            }
        }
    }
}
