@import "blueprint-menu/blueprint";
@import "context-menu";
@import "import-export-menu";
@import "orphan-input";

.application.dialog.pf2e-trigger {
    .window-content {
        .form-group {
            white-space: nowrap;

            .form-fields:has(input[type="number"]) {
                flex: 0;

                input {
                    width: 10ch;
                    text-align: end;
                }
            }
        }
    }
}
